<div class=" lg:px-[15%] 2xl:px-[20%] xxl:h-full sm:w-full flex flex-col justify-center items-center bg-white mb-20">
    <div class="">
       <!-- INTRODUCTION TEXT-->
       <div class="flex items-center justify-center mt-10">
          <% const data = {tagTitle: 'EXPLORE GREAT PLACES', tagColor: 'text-emerald-700', dashColor: 'bg-emerald-700'} %>
          <%- include('../components/molecules/section-tag-molecule.ejs', {data}) %>
       </div>
          <p class="mb-4 font-raleway text-6xl font-black text-midnight text-center">
             POPULAR PACKAGES
          </p>
          <p class="leading-6 mb-12 overflow-wrap break-word text-neutral-800 text-center">
          
             Mollit voluptatem perspiciatis convallis elementum corporis quo veritatis aliquid blandit, blandit torquent,<br> odit placeat.Adipiscing repudiandae eius cursus? Nostrum magnis maxime curae placeat.
          </p>
    </div>
    <div class=" flex flex-wrap justify-center items-center  ">
    
       <%- include('../components/molecules/card-popular.ejs', {priceperperson: 1900, daynightformat: '7D/6N', numberOfPeople: 5, location: 'Malaysia',  packageTitle: 'Sunset view of beautiful lakeside resident',  numberOfReviews: 20,  ratingOutOfFive : 4, description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit luctus nec ullam. Ut elit tellus, luctus nec ullam elit tellpus.', picture: 'package1.jpg'}); %>
       <%- include('../components/molecules/card-popular.ejs',{priceperperson: 1230,   daynightformat: '5D/4N' , numberOfPeople: 8, location: 'Canada', packageTitle: 'Experience the natural beauty of island', numberOfReviews: 20, ratingOutOfFive : 5, description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit luctus nec ullam. Ut elit tellus, luctus nec ullam elit tellpus.', picture: 'package1.jpg'}); %>
       <%- include('../components/molecules/card-popular.ejs',{priceperperson: 2000,   daynightformat: '6D/5N',numberOfPeople: 6,  location: 'Portugal', packageTitle: 'Vacation to the water city of Portugal',  numberOfReviews: 20,  ratingOutOfFive : 6, description: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit luctus nec ullam. Ut elit tellus, luctus nec ullam elit tellpus.', picture: 'package1.jpg'}); %>
     
    </div>
 
    <div class="text-center mt-12 mb-6">
        <%- include('../components/atoms/cta-book-now.ejs', {content: "View All Packages", redirect: "#", style: "shadow-inner shadow-emerald-900 text-white font-medium md:font-bold px-6 py-4 rounded-md bg-emerald-700 mt-4 uppercase"})%>
      </div>
 
 
  </div> 
  