<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="/assets/logos/logo.png">
    <link rel="stylesheet" href="/assets/styles/style.css"> 
    <link rel="stylesheet" href="/assets/styles/custom.css">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css"
/>

    <style>
      
    </style>
    <title>Horizon Hopper</title>
</head>
<body>
    <%- include('../partials/hero-section.ejs', 
    {
      mainText: 'Explore the World with Us',
      supportingText: 'Discover your dream destinations and embark on unforgettable adventures with our exclusive international travel packages.'
    }
    ) %>
    <%- include('../partials/popular-destination-section.ejs') %>
    <%- include('../partials/callback-section.ejs') %>
    <%- include('../partials/adventure-category-section.ejs') %>

    <%- include('../partials/testimonial.ejs') %>
    <%- include('../partials/footer.ejs') %>

    <script>
      const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
      
        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      
        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    </script>

    <%- include('../partials/special-offer-section.ejs') %>

    <!-- Navigation arrow up -->
    <a class="fixed bottom-[2%] right-[2%] text-emerald-950 text-4xl z-50 animate-bounce" href="#">
      <i class="fa fa-angle-double-up" aria-hidden="true" id="scroll-up-icon"></i>
    </a>
    

    


<script>
  // JavaScript to change header background on scroll
  const header = document.getElementById('main-header');
  const scrollThreshold = 100; // Adjust this value to determine when to change the background color
  const scrollUpIcon = document.getElementById('scroll-up-icon')

  function updateHeaderBackground() {
    if (window.scrollY > scrollThreshold) {
      header.classList.add('bg-on-scroll');
      scrollUpIcon.classList.remove('hidden')

    } else {
      header.classList.remove('bg-on-scroll');
      scrollUpIcon.classList.add('hidden')

    }
  }

  // Add a scroll event listener to update the header background
  window.addEventListener('scroll', updateHeaderBackground);
</script>



</body>

</html>