<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="icon" href="/assets/logos/logo.png">
    <link rel="stylesheet" href="/assets/styles/style.css"> 
    <link rel="stylesheet" href="/assets/styles/custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />

    <title>Horizon Hopper</title>
</head>
<body>

    <%- include('../partials/hero-section.ejs', 
    {
      mainText: 'Explore the World with Us',
      supportingText: 'Discover your dream destinations and embark on unforgettable adventures with our exclusive international travel packages.'
    }
    ) %>
    

    <%- include('../partials/hero-section.ejs', ) %>

    <%- include('../partials/popular-destination-section.ejs') %>
    <%- include('../partials/popular-packages.ejs') %>
    <%- include('../partials/callback-section.ejs') %>
    <%- include('../partials/adventure-category-section.ejs') %>
    <%- include('../partials/special-offer-section.ejs') %>

    <%- include('../partials/promotion.ejs') %>
    <%- include('../partials/testimonial.ejs') %>
    <%- include('../partials/footer.ejs') %>



  
    <!-- Navigation arrow up -->
    <a class="fixed bottom-[2%] right-[2%] text-emerald-950 text-4xl z-50 animate-bounce" href="#">
      <i class="fa fa-angle-double-up hidden" aria-hidden="true" id="scroll-up-icon"></i>
    </a>
    

    


<script>
  // JavaScript to change header background on scroll
  const header = document.getElementById('main-header');
  const topHeader = document.getElementById('top-header');
  const scrollThreshold = 100; // Adjust this value to determine when to change the background color
  const scrollUpIcon = document.getElementById('scroll-up-icon')

  const toggler = document.querySelector('.toggler');
  const menuBlock = document.querySelector('.menu-block');
  const mobileMenu = document.querySelector('.mobile-menu');

  toggler.addEventListener('click', () => {
    menuBlock.classList.toggle('hidden');
  });

  const playButton = document.getElementById('play-button')
  const videoPlayer = document.getElementById('video-player')
  const closeIcon = document.getElementById('close-icon')


  const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,
      
        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },

        autoplay: {
          delay: 3000,
        },
      
        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });



  function updateHeaderBackground() {
    if (window.scrollY > scrollThreshold) {
      header.classList.add('bg-on-scroll'); //add class on scroll
      scrollUpIcon.classList.remove('hidden')
      topHeader.classList.add('hidden'); // hide top-header on small screens
      mobileMenu.classList.remove('mt-2') //remove mobile menu margine
      topHeader.classList.remove('pb-2')
    } else {
      header.classList.remove('bg-on-scroll');  //remove class on scroll
      scrollUpIcon.classList.add('hidden')
      mobileMenu.classList.add('mt-2') //add top-header
      
      topHeader.classList.remove('hidden')  //display block top-header 
    }

    if (window.innerWidth >= 768) {
      topHeader.classList.remove('hidden'); // display top-header on medium and larger screens
      topHeader.classList.add('pb-2')
    }
  }




  function showVideoPlayer() {
    videoPlayer.classList.replace('hidden', 'flex')
  }

  function closeVideoPlayer() {
    videoPlayer.classList.replace('flex', 'hidden')

  }

  // Add a scroll event listener to update the header background

  window.addEventListener('scroll', updateHeaderBackground);
  playButton.addEventListener('click', showVideoPlayer)
  closeIcon.addEventListener('click', closeVideoPlayer)
</script>
</body>

</html>