<nav>
  <ul class="flex flex-col md:flex-row gap-x-1">
    <% navItems.forEach(item => { %>
      <li class="packages-dropdown cursor-pointer py-2 md:px-3 md:py-4 text-gray-700 md:text-white md:font-bold text-lg md:text-xl md:bg-transparent bg-white border-b border-gray-500 md:border-none">
        <% if (item.subItems) { %>
          <a href="<%= item.link %>" class="block"><%= item.title %></a>
          <ul class="dropdown-menu flex-col font-normal">
            <% item.subItems.forEach(subItem => { %>
              <li class="hover:bg-emerald-700 hover:text-white text-base text-gray-700">
                <a href="<%= subItem.link %>" class="block"><%= subItem.title %></a>
              </li>
            <% }); %>
          </ul>
        <% } else { %>
          <a href="<%= item.link %>" class="block"><%= item.title %></a>
        <% } %>
      </li>
    <% }); %>
  </ul>
</nav>
